.container {
    font-family: Arial, sans-serif;
    margin: 0 auto; /* Căn giữa container */
    max-width: 3000px; /* Kích thước tối đa của container */
    width: 100%; /* Chiều rộng của container */
}

.formSection {
    background-color: #f4f4f4;
    padding: 20px; /* Padding cho nội dung */
}

.personalInfoContainer,
.addressInfoContainer,
.shippingContainer,
.paymentContainer,
.promoContainer,
.orderSummary {
    background-color: #fff; /* Màu nền của container */
    padding: 20px; /* Padding cho container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Hiệu ứng bóng */
    margin-bottom: 20px; /* Khoảng cách dưới */
    border-radius: 10px; /* Bo góc cho các container */
    border: 1px solid #ccc; /* Viền cho các container */
}

.header {
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.footer {
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

.sectionTitle {
    font-size: 18px; /* Kích thước chữ */

    font-weight: bold;
    margin-top: 1px; /* Khoảng cách trên */
    margin-bottom: 10px; /* Khoảng cách dưới */
    border-bottom: 1px solid #b6b6b6; /* Đường kẻ dưới màu đen */
    padding-bottom: 10px; /* Padding dưới */
    width: 100%; /* Chiều rộng 100% */
}

.formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.shippingMethods,
.paymentMethods {
    gap: 20px;
    margin-top: 10px;
}

.orderButtonContainer {
    display: flex;
    justify-content: center; /* Canh giữa nút */
    margin-top: 20px; /* Khoảng cách trên nút */
}

.orderButton {
    padding: 10px 20px; /* Padding cho nút */
    background-color: #4caf50; /* Màu nền */
    color: white; /* Màu chữ */
    border: none; /* Bỏ viền */
    border-radius: 5px; /* Bo góc cho nút */
    cursor: pointer; /* Con trỏ khi di chuột */
    font-size: 16px; /* Kích thước chữ */
}

.orderButton:hover {
    background-color: #45a049; /* Màu khi di chuột qua */
}

.orderSummaryTitle {
    font-size: 40px; /* Kích thước chữ lớn hơn */
    font-weight: bold; /* In đậm */
    border-bottom: 2px solid #ccc; /* Đường kẻ dưới */
    padding-bottom: 10px; /* Khoảng cách dưới đường kẻ */
}
