.main-content {
    padding: 20px;
    background-color: #f9f9f9;
}

.section-tabs {
    border-bottom: 2px solid #e5e7eb;
}

.section-tabs li {
    font-size: 2rem;
    color: #333;
    transition: color 0.3s;
}

.underline {
    text-decoration: underline;
    text-decoration-color: black;
    text-underline-offset: 8px;
    text-decoration-thickness: 4px;
}

.section-tabs li:hover {
    color:  #d1d5db;
}

.book-title {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-item {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    height: 9rem;
    cursor: pointer;
}

.news-title {
    font-size: 1.25rem;
    font-weight: 600;
}

.event-item {
    display: flex;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    height: 14rem;
    cursor: pointer;
}

.event-title {
    font-size: 1.25rem;
    font-weight: 600;
}

.event-info {
    color: gray;
}

.img-cover {
    border-radius: 0.5rem;
}
