.book {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}
.image {
    height: 80px;
    width: 80px;
    max-width: none;
    padding: 5px;
    object-fit: contain;
}
.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
}
.title {
    font-weight: 400;
    display: -webkit-box;
    line-clamp: 2; /* Giới hạn hiển thị trong 2 dòng */
    -webkit-box-orient: vertical; /* Thiết lập cách chia hộp theo chiều dọc */
    overflow: hidden; /* Ẩn phần văn bản vượt quá */
    text-overflow: ellipsis; /* Hiển thị dấu ba chấm */
    white-space: normal; /* Đảm bảo văn bản có thể xuống dòng */
}
.current-price {
    color: var(--main-color);
    font-weight: 500;
}
.quantity {
    margin-left: 5px;
    font-size: 14px;
}

/* collection */
.collection {
    flex-direction: column;
    padding-top: 5px;
    width: 202px;
    transition: transform 0.2s, box-shadow 0.2s;
}
.collection img {
    height: 100%;
    width: 100%;
}
.collection:hover {
    box-shadow: 0 4px 8px #0000001a;
    transform: translateY(-5px);
}
.collection .info {
    height: 100%;
    width: 100%;
    padding: 10px;
}
.collection .info a {
    flex: 1;
}
.rate {
    font-size: 14px;
}
