.main-content {
    background-color: var(--light-gray);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-title {
    font-weight: 600;
    font-size: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Giới hạn hiển thị trong 2 dòng */
    -webkit-box-orient: vertical; /* Thiết lập cách chia hộp theo chiều dọc */
    overflow: hidden; /* Ẩn phần văn bản vượt quá */
    text-overflow: ellipsis; /* Hiển thị dấu ba chấm */
    white-space: normal; /* Đảm bảo văn bản có thể xuống dòng */
}
.more {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 10px 10px;
    color: var(--main-color);
}
.more-btn {
    cursor: pointer;
}
.more-btn:hover {
    opacity: 0.7;
}
