.wrapper {
    width: 100%;
    min-height: 80px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.logo {
    height: 70px;
    border-radius: 99999px;
}

/* Action */
.action {
    display: flex;
    gap: 16px;
}

.cart-btn,
.user-btn {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: transparent;
    color: var(--gray);
    cursor: pointer;
}
.icon {
    color: var(--gray);
    font-size: 21px;
}
.quantity {
    position: absolute;
    display: flex;
    top: -10px;
    right: 5px;
    color: white;
    background-color: var(--main-color);
    padding: 0 5px;
    border-radius: 10px;
}
.quantity span {
    font-size: 12px;
}

/* cart-popper */
.cart-popper {
    max-width: 376px;
    padding: 20px 0;
}

.cart-header {
    padding: 0 20px 15px;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid #f0f0f0;
}
.cart-items {
    padding: 15px 20px 0;
    height: 300px;
    overflow-y: auto;
}
.cart-footer {
    padding: 15px 20px 0;
    border-top: 1px solid #f0f0f0;
    display: flex;
}
.total {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.price {
    color: var(--main-color);
    font-size: 18px;
    font-weight: 600;
}
.more {
    background-color: var(--main-color);
    color: white;
    font-size: 17px;
    font-weight: 600;
    padding: 5px 40px;
    border-radius: 10px;
    cursor: pointer;
}

/* menu user */

.menu-item {
    display: flex;
    gap: 5px;
    padding: 0 15px;
    cursor: pointer;
}
.menu-item + .menu-item {
    margin-top: 10px;
}
.title {
    display: flex;
    align-items: center;
    padding-top: 2px;
}
.logout {
    border-top: 1px solid #f0f0f0;
    padding-top: 10px;
}
.menu-item:first-child {
    padding-top: 15px;
}
.menu-item:last-child {
    padding-bottom: 15px;
}

@media (min-width: 1210px) {
    .inner {
        min-width: var(--default--layout-width);
    }
}

@media (min-width: 1000px) {
    .inner {
        width: 970px;
    }
}
